version: "3.7"
services:
  web: &web
    build:
      context: .
      dockerfile: ./Dockerfile
    env_file:
      - .env
    ports:
      - "127.0.0.1:${DOCKER_EXPOSE_PORT?8000}:${DJANGO_PORT?8000}"
    depends_on:
      - db
    volumes:
      - ./src/:/usr/src/app/src
    command: python manage.py runserver 0.0.0.0:$DJANGO_PORT
    restart: unless-stopped
    container_name: to-doer-web
    networks:
      - to-doer-net

  db:
    image: postgres:14.0
    env_file:
      - ./.env
    volumes:
      - ./.docker/postgres-data:/var/lib/postgresql/data
    container_name: to-doer-db
    networks:
      - to-doer-net

#  redis:
#     image: redis:7.0
#     restart: unless-stopped
#     volumes:
#       - ./.docker/redis-data:/data
#     container_name: to-doer-redis
#     networks:
#       - to-doer-net
#
#  celery:
#     <<: *web
#     image: celery:5.2
#     command: "celery -A src worker -l info"
#     depends_on:
#       - db
#       - redis
#     volumes:
#       - ./logs:/code/logs/
#     ports: []
#     container_name: to-doer-celery
#
#  celery_beat:
#     <<: *web
#     image: celery:5.2
#     command: "celery -A src beat -l info --scheduler django_celery_beat.schedulers:DatabaseScheduler"
#     depends_on:
#       - db
#       - redis
#     ports: []
#     container_name: to-doer-celery_beat


networks:
  to-doer-net: